---
import Container from '../components/Container.astro';
import EyeCatch from '../components/EyeCatch.astro';
import Paragraph from '../components/Paragraph.astro';
import SectionTitle from '../components/SectionTitle.astro';
import LeadTitle from '../components/LeadTitle.astro';

type Activity = {
    title: string;
    lead: string;
    eyecatch: {
        src: string;
        alt: string;
    };
    body: string[];
};

const activities = [
  {
    title: '2024年夏の活動報告☀️',
    lead: '',
    eyecatch: {
      src: 'images/2024summer.jpg',
      alt: '2024年夏の活動報告',
    },
    body: [
      `2024年の夏は、日本ホーリネス教団池の上キリスト教会さんからご依頼を頂き、初の試みとして教会デイキャンプでのパフォーマンスを行いました！
      テーマは「たいせつなきみ」 💚
      マックス・ルケード作の絵本「たいせつなきみ」を元に構成し、想いを込めてパフォーマンスをお届けしました！歌、スキット、ゲームもあって大盛り上がり...！`,
      `そして今回はプログラムに工作タイムを取り入れ、みんなで「世界で一つのオリジナルバッグ」を作成しました👜子どもたちが作ったバックを嬉しそうに見せてくれてほっこりした気持ちとなりました ！😍`,
      `公演を通して、たくさんのお友達と会えて、最高の夏の思い出になりました！🌻
      ありがとうございました！`,
    ]
  },
  {
    title: 'Season3 活動報告③',
    lead: '',
    eyecatch: {
      src: 'images/season3-3.jpg',
      alt: 'Season3 活動報告③',
    },
    body: [
      `2023年12月11日(月)に東京都江戸川区のたんぽぽ保育園さんにてSeason3最後の公演を行いました！ 💫いつも元気いっぱいなたんぽぽ保育園の子どもたちですが、この日も大盛り上がり！特にサンタさんやパペットが登場した時には大歓声が上がり、嬉しいリアクションでした😊私たちも子どもたちの元気に負けないよう、精一杯パフォーマンスさせていただきました！💪`,
      `公演後には、子供達からメンバーへのプレゼントが♪
     会場を出る最後の最後まで、「ありがとう！」と何度も声をかけてくれる子どもたちの優しさに温かい気持ちになりました☺️❤️`,
      `これにて、ミニ・ストーリーの出張パフォーマンスSeason3は無事終了です🙆‍♀️
      クリスマスの楽しい時間を届けたい！と、「プレゼント」をテーマに行ってきた全3回の公演ですが、私たちにとっては、見てくださった子どもや皆さんの笑顔が一番のプレゼントでした🎁✨`,
      `ミニ・ストーリーを招いてくださった各開催場所の皆様、またご寄付で活動をサポートしてくださった皆様に心から感謝いたします！🙏`,
    ],
 },
  {
    title: 'Season3 活動報告②',
    lead: '',
    eyecatch: {
      src: 'images/season3-2.jpg',
      alt: 'Season3 活動報告②',
    },
    body: [
      `2023年12月9日(土)に千葉県松戸市の新松戸ぶらり食堂さんにて公演を行いました！
      新松戸ぶらり食堂さんでの公演は3回目となりましたが、Season1&2に来てくださった皆さんが今回も楽しみに参加してくださったそうです☺️`,
      `公演前は少し緊張気味の子供たちでしたが、パフォーマンスが始まると少しずつ心を開いてくれて、クリスマスクイズやダンスコーナーにも参加してくれました✨
      公演後にはサンタさん、トナカイさん、アキちゃんとの記念撮影会を設け、みんな嬉しそうに思い出の1枚を撮っていました📸`,
      `そして、今回もぶらり食堂の皆さんとお交わりの時を持たせていただき、美味しいお芋おこわや餃子、焼き菓子をご馳走になりました！🍠🥟🍪
      ぶらり食堂の皆さんのお話から沢山の励ましもいただき、お腹も心も満たされるひと時となったことを心から感謝します🙏`,
      `次回投稿ではSeason3最後の公演の様子を掲載します！
      お楽しみに🎅🏻🎄`,
    ]
  },
  {
    title: 'Season3 活動報告①',
    lead: '',
    eyecatch: {
      src: 'images/season3-1.jpg',
      alt: 'Season3 活動報告①',
    },
    body: [
      `2023年11月25日(土)に千葉県柏市の柏グローリーチャペルさんにて、Season3最初の公演を行いました！ 💫
      少し早いクリスマスイベントではありましたが、様々な世代の方にお集まりいただきアットホームな公演となりました！
      今回は一緒に踊るコーナーやサンタさんから直接のプレゼントもあり、これまで以上に皆さんと近くで関わることができました 👏`,
      `柏グローリーチャペルさんは外装・内装ともに素敵な教会なのですが、特にクリスマスの飾り付けはとっても豪華です！ ✨
      そして、なんと！今回はクリスマスツリーの装飾を「プレゼント・フォー・ユー」のテーマに合わせてくださったそうです 😭
      メンバーも可愛い飾り付けに魅了され、公演後には撮影会が始まっていました(笑)`,
      `柏グローリーチャペルさんでは今後も素敵なクリスマスイベントがあるそうなので、ぜひInstagramを覗いてみてくださいね！ 🎄
      @glory.__.1123`,

    ]
  },
  {
    title: 'Season2 活動報告④',
    lead: '',
    eyecatch: {
      src: 'images/season2-4.jpg',
      alt: 'Season2 活動報告④',
    },
    body: [
      `2023年8月28日(月)に東京都江戸川区の「たんぽぽ保育園」さんにて、Sesson2最後の公演を行いました🌈たんぽぽ保育園さんには、Season1 に引き続き呼んでいただきました😊
      前回は、保育園内での公演でしたが、今回は、コミュニティ会館をお借りして開催させていただきました✨`,
      `広々とした場所に子どもたちも入場から大興奮！
      私たちも、元気いっぱいなこどもたちに負けないように、精一杯パフォーマンスさせていただきました💪公演後、子どもたちからお菓子のプレゼントをいただきました🙌
      また「ありがとう！」と、子どもたちからのハイタッチの列ができ、メンバーは心を鷲掴みにされていました😍`,
      `Season2 は、『たからもの』と題し、『お友達・仲間の大切さ』をテーマにパフォーマンスを行いました。どの開催場所も、そのことが伝わった公演になったのではないかと感じ、感謝しております。`,
      `前に立つ人、裏方などの参加人数がギリギリでしたが、助け合いながら活動し、私たち自身も仲間の大切さを実感したシーズンとなりました。`,
      `応援してくださった皆さま、ありがとうございます！
      引き続き、投稿へのいいね！や、コメントなどをいただけますと私たちの励みになりますので、どうぞよろしくお願いいたします！
      最後まで読んでいただきありがとうございました🍀*゜`,
    ]
  },
  {
    title: 'Season2 活動報告③',
    lead: '',
    eyecatch: {
      src: 'images/season2-3.jpg',
      alt: 'Season2 活動報告③',
    },
    body: [
      `2023年8月26日(土)に千葉県松戸市にある『新松戸ぶらり食堂』さんにて、Sesson2、3回目の公演を行いました！新松戸ぶらり食堂さんは、Season1でもお世話になり、今回も続けて呼んでいただきました🌈
      地域の親子連れを中心に、幼児～シニア世代まで幅広い世代が集いました🙌
      歌の時には、振り付けを小さく真似してくれる子たちがいて、恥ずかしながらも一緒に参加してもらえる姿が嬉しかったです😊
      スキットでは、大人も子どもも食い入るように真剣な表情で観て下さり「大人の方がかえって楽しませてもらった」「こどもたちに楽しみを提供してもらえて、本当に良かった」などのお声をいただき、私たちの励みとなりました✨`,
      `プログラムが終わったあとには、記念写真の撮影を行い、パペットのハーティ❤にドキドキしながら近づくこどもたちがとても可愛かったです🥰`,
      `また片付け後には、ぶらり食堂さんからホットドッグとお菓子をいただきました🌭
      このホットドッグ、中にチーズが入っていておいしかったです！！
      ぜひ、お近くの方はお立ち寄りくださいね😊
      https://www.facebook.com/burarism`,
      `次回、Season2最後の活動報告です🍀*゜
      ここまで守られたことを感謝します🌈`,
    ]
  },
  {
    title: 'Season 2 活動報告②',
    lead: '',
    eyecatch: {
      src: 'images/season2-2.jpg',
      alt: 'Season2 活動報告②',
    },
    body: [
      `2023年8月19日(土)に千葉県柏市の「柏グローリーチャペル」さんにてSesson2、2回目の公演を無事に終えることが出来ました🙌
      未就学児～シニア世代まで多くの方が集い、歌の時には手拍子で、スキットの時には笑い声で、皆さんが会場を盛り上げてくださいました！
      また、「感動して涙が出そうになりました」「すごく良かったです！」「大人でも心にジーンと来ました」「また来てください！」などのお声もいただきました😭
      あたたかく、楽しい公演となったことを感謝いたします！
      公演後には、柏グローリーチャペルさんの催し物で夏祭りが行われました✨
      焼きそば、フランクフルト、チョコバナナ、射的に水ヨーヨーなどと盛り沢山🌈
      ミニ・ストーリーメンバーも参加させていただきました！ごはんも美味しく、ゲームも楽しみ、新たに夏の思い出が出来ました📖`,
      `普段教会に来られていない方も、ミニ・ストーリーの公演から夏祭りまで楽しく過ごされており、柏グローリーチャペルさんは、とても居心地が良く、帰るのが惜しくなるほど、すてきな場所でした⛪:*゜`,
    ]
  },
  {
    title: 'Season2 活動報告①',
    lead: '',
    eyecatch: {
      src: 'images/season2-1.jpg',
      alt: 'Season2 活動報告①',
    },
    body: [
      `2023年7月29日(土)に神奈川県横須賀市の放課後児童クラブ「めぐみとまこと」さんにて、Sesson2最初の出張パフォーマンスを行いました🌈
      今回は通常のプログラムに加え、賛美とゲーム大会も取り入れました✨
      未就学児～中学生、親御さんも集い、大家族になったようなとてもあたたかいひと時でした。
      プログラムが終わったあとには、たくさんの子どもたちが「楽しかった！」「また来てね！」と声をかけてくれたり、私たちが帰るまでずっと手を振ってくれ、優しくて元気いっぱいなこどもたちに力をいただきました😊
      2023年の夏は全4箇所で、出張パフォーマンスをさせていただきました！`,
    ]
  },
    {
        title: 'Season1 活動報告①',
        lead: '江戸川区の保育園にてクリスマスイベント開催！',
        eyecatch: {
            src: 'images/dandelion.png',
            alt: 'たんぽぽ保育園',
        },
        body: [
          `2022年12月5日(月)に東京都江戸川区のたんぽぽ保育園さんにてクリスマス公演を行いました！
          下は1歳～上は6歳までと、年齢の幅はありますが、こどもたちとゲームやクイズ、クリスマスソングを歌って盛り上がりました。
            ミニ・ストーリーは、こどもたちの年齢に合わせたプログラムを用意しています💪`,
            `そして、今回の目玉は、「赤鼻のトナカイ」ミニ・ストーリーバージョン！
            なんとサンタさんもかけつけてくれました。`,
            `赤鼻を恥ずかしがっていたトナカイにこどもたちが「世界で1番かわいいよ！」「キラキラしててすてきだよ」など声をかけてくれました。
            こどもたちの優しさは、思いがけないうれしいプレゼントで、とても心温まる時間となりました🎁`,
            `初めての公演、大成功です😊たんぽぽ保育園の皆さま、ありがとうございました！`,
        ],
    },
    {
        title: 'Season1 活動報告②',
        lead: 'こども食堂にてクリスマスイベント開催！',
        eyecatch: {
            src: 'images/aimlessly-dining.png',
            alt: 'ぶらり食堂',
        },
        body: [
            `2022年12月10日(土)に千葉県松戸市の新松戸ぶらり食堂さんにて、クリスマス公演を行いました！
            地域の親子の味方、ぶらり食堂さんはシニア世代の方が中心となって活動しています。とても活気に溢れていて私たちも「頑張ろう！」と力を頂きました😆`,
            `劇中での親御さんのニコニコ笑顔は、時間が経った今でも脳裏に焼き付いています。
            観て下さる大人もこどもも、私たち演者も、みんなが楽しめるプログラムがミニ・ストーリーのいい所です👍`,
            `今回は、ぶらり食堂さんのご要望で、ご家族ごとにサンタさん、トナカイと記念写真を撮る時間を持ちました！`,
            `わくわくしながら写真を撮る子や、照れてしまい近づけない子、固まってしまう子など、様々な反応がありましたが、私たちも一緒に楽しい時間を過ごさせていただきました。`,
            `最後にぶらり食堂さんのチーズホットドッグを頂きましたが、絶品でした!!!!近くにお住まいのお子さま連れの方は、必見です♬.*ﾟ`,
            `ぶらり食堂の皆さま、ありがとうございました。`,
        ],
    },
] satisfies Activity[];
---

<section id="activity" class="my-8">
    <Container>
        <SectionTitle subtitle="activity">活動報告</SectionTitle>
        {
            activities.map((activity) => (
                <div class="my-4 pb-8 md:grid md:grid-cols-2 md:items-center md:gap-12">
                    <div class="md:self-start md:pt-8">
                        <EyeCatch src={activity.eyecatch.src} alt={activity.eyecatch.alt} />
                    </div>
                    <div>
                        <SectionTitle>{activity.title}</SectionTitle>
                        <LeadTitle>{activity.lead}</LeadTitle>
                        {activity.body.map((content) => (
                            <Paragraph>{content}</Paragraph>
                        ))}
                    </div>
                </div>
                // TODO: Install CTA Button
            ))
        }
    </Container>
</section>
