---
import Container from '../components/Container.astro';
import EyeCatch from '../components/EyeCatch.astro';
import Paragraph from '../components/Paragraph.astro';
import SectionTitle from '../components/SectionTitle.astro';
import LeadTitle from '../components/LeadTitle.astro';

type Activity = {
    title: string;
    lead: string;
    eyecatch: {
        src: string;
        alt: string;
    };
    body: string[];
};

const activities = [
    {
        title: '社会福祉法人 たんぽぽ保育園',
        lead: '江戸川区の保育園にてクリスマスイベント開催！',
        eyecatch: {
            src: 'images/dandelion.png',
            alt: 'たんぽぽ保育園',
        },
        body: [
            `下は1歳～上は6歳までと、年齢の幅はありますが、こどもたちとゲームやクイズ、クリスマスソングを歌って盛り上がりました。
            ミニ・ストーリーは、こどもたちの年齢に合わせたプログラムを用意しています💪`,
            `そして、今回の目玉は、「赤鼻のトナカイ」ミニ・ストーリーバージョン！
            なんとサンタさんもかけつけてくれました。`,
            `赤鼻を恥ずかしがっていたトナカイにこどもたちが「世界で1番かわいいよ！」「キラキラしててすてきだよ」など声をかけてくれました。
            こどもたちの優しさは、思いがけないうれしいプレゼントで、とても心温まる時間となりました🎁`,
            `初めての公演、大成功です😊たんぽぽ保育園の皆さま、ありがとうございました！`,
        ],
    },
    {
        title: '新松戸ぶらり食堂',
        lead: 'こども食堂にてクリスマスイベント開催！',
        eyecatch: {
            src: 'images/aimlessly-dining.png',
            alt: 'ぶらり食堂',
        },
        body: [
            `地域の親子の味方、ぶらり食堂さんはシニア世代の方が中心となって活動しています。とても活気に溢れていて私たちも「頑張ろう！」と力を頂きました😆`,
            `劇中での親御さんのニコニコ笑顔は、時間が経った今でも脳裏に焼き付いています。
            観て下さる大人もこどもも、私たち演者も、みんなが楽しめるプログラムがミニ・ストーリーのいい所です👍`,
            `今回は、ぶらり食堂さんのご要望で、ご家族ごとにサンタさん、トナカイと記念写真を撮る時間を持ちました！`,
            `わくわくしながら写真を撮る子や、照れてしまい近づけない子、固まってしまう子など、様々な反応がありましたが、私たちも一緒に楽しい時間を過ごさせていただきました。`,
            `最後にぶらり食堂さんのチーズホットドッグを頂きましたが、絶品でした!!!!近くにお住まいのお子さま連れの方は、必見です♬.*ﾟ`,
            `ぶらり食堂の皆さま、ありがとうございました。`,
        ],
    },
] satisfies Activity[];
---

<section id="activity" class="my-8">
    <Container>
        <SectionTitle subtitle="activity">活動報告</SectionTitle>
        {
            activities.map((activity) => (
                <div class="my-4 pb-8 md:grid md:grid-cols-2 md:items-center md:gap-12">
                    <div class="md:self-start md:pt-8">
                        <EyeCatch src={activity.eyecatch.src} alt={activity.eyecatch.alt} />
                    </div>
                    <div>
                        <SectionTitle>{activity.title}</SectionTitle>
                        <LeadTitle>{activity.lead}</LeadTitle>
                        {activity.body.map((content) => (
                            <Paragraph>{content}</Paragraph>
                        ))}
                    </div>
                </div>
                // TODO: Install CTA Button
            ))
        }
    </Container>
</section>
